<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/fragments::head">
</head>
<body>
<header th:replace="templates/fragments::nav">
</header>
<main class="p-5 bg-blur text-center my-main">
    <div class="text-center bg-blur">
        <div class="container text-light text-center">
            <h3 class="display-4"><strong class="text-white font-weight-bold text-capitalize" th:text="${team.name}"></strong></h3>
        </div>
        <div class="position-absolute top-40 start-40">
            <img class="img-fluid" width="250px" height="280px" th:src="|/images/*{team.logo}.jpg|" alt="Card image cap">
        </div>
        <div class="row mt-3 mb-3 text-white rounded">
            <div class="col-7 rounded m-auto pb-3">
                <table class="table-responsive table-hover table-dark">
                    <tr>
                        <th class="p-3 col-4 font-weight-bold">Logo</th>
                        <th class="p-3 col-3 font-weight-bold">Number</th>
                        <th class="p-3 col-4 font-weight-bold">Name</th>
                    </tr>
                    <tr th:each="player : ${players}" th:object="${player}">
                        <td><img class="mr-2" src="/images/player_logo.png" alt="LogoTeam1"
                                 width="50px" height="50px"></td>
                        <td class="p-2 col-3" th:text="*{number}"></td>
                        <td class="p-2 col-4" th:text="*{fullName}"></td>
                        <td class="p-2"><a class="ml-3 p-3 text-warning" th:href="|/player/details/*{id}|">Details</a></td>
                        <td class="p-2" th:if="${player.canDeleteOrEdit}">
                            <form th:action="@{/player/edit/{id}(id=*{id})}"
                                  th:method="get">
                                <input type="submit" class="btn btn-link text-primary" value="Edit Player"/>
                            </form>
                        </td>
                        <td class="p-2" th:if="${player.canDeleteOrEdit}">
                            <form onclick="clicked(event)" th:action="@{/player/delete/{id}(id=${player.id})}"
                                  th:method="delete">
                                <input type="submit" class="btn btn-link text-danger" value="Delete Player"/>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    </div>
</main>
<footer th:replace="templates/fragments::footer">
</footer>
</body>
</html>