<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/fragments::head">
</head>
<body>
<header th:replace="templates/fragments::nav">
</header>
<main class="p-5 bg-blur text-center my-main">
    <h1 class="text-light border-bottom">Edit Player</h1>
    <div class="d-flex justify-content-center bg-secondary rounded">
        <form th:method="patch"
              th:action="@{/player/edit/{id}(id=${player.id})}"
              th:object="${addPlayerBindingModel}"
              class="text-light">
            <div class="form-row m-5">
                <div class="col">
                    <label for="name">Player name</label>
                    <input th:field="*{fullName}" th:errorclass="is-invalid" th:placeholder="${player.fullName}" name="name" id="name" type="text"
                           class="form-control">
                    <p id="nameError" class="errors alert alert-danger invalid-feedback">Name must be between 3
                        and 20
                        characters</p>
                </div>
            </div>
            <div class="form-row m-5">
                <div class="col">
                    <label for="number">Player Number</label>
                    <input th:field="*{number}" th:errorclass="is-invalid" th:placeholder="${player.number}" name="number" id="number" type="number"
                           class="form-control">
                    <p id="numberError" class="errors alert alert-danger invalid-feedback">Number must be between 1
                        and 99</p>
                </div>
            </div>
            <div class="form-row m-5">
                <div class="col">
                    <label for="team">Team</label>
                    <select th:errorclass="is-invalid" name="team" id="team" class="custom-select">
                        <option value="" selected>Select Team</option>
                        <option th:each="team : ${teams}"
                                th:text="${team.name}"
                                th:value="${team.name}"
                                th:selected="${team.name} == *{team}">Model
                        </option>
                    </select>
                    <p id="teamError" class="errors alert alert-danger invalid-feedback">You must select
                        team</p>
                </div>
            </div>
            <h3 class="text-light border-bottom">Stats</h3>
            <div class="form-row m-5">
                <div class="col">
                    <label for="physical">Physical</label>
                    <input th:field="*{physical}" th:errorclass="is-invalid" th:placeholder="${stat.physical}" name="physical" id="physical" type="number"
                           class="form-control">
                    <p id="physicalError" class="errors alert alert-danger invalid-feedback">Stat must be between 1
                        and 99</p>
                </div>
                <div class="col">
                    <label for="attack">Attack</label>
                    <input th:field="*{attack}" th:errorclass="is-invalid" th:placeholder="${stat.attack}" name="attack" id="attack" type="number"
                           class="form-control">
                    <p id="attackError" class="errors alert alert-danger invalid-feedback">Stat must be between 1
                        and 99</p>
                </div>
                <div class="col">
                    <label for="defence">Defence</label>
                    <input th:field="*{defence}" th:errorclass="is-invalid" th:placeholder="${stat.defence}" name="defence" id="defence" type="number"
                           class="form-control">
                    <p id="defenceError" class="errors alert alert-danger invalid-feedback">Stat must be between 1
                        and 99</p>
                </div>
                <div class="col">
                    <label for="passing">Passing</label>
                    <input th:field="*{passing}" th:errorclass="is-invalid" name="passing" th:placeholder="${stat.passing}" id="passing" type="number"
                           class="form-control">
                    <p id="passingError" class="errors alert alert-danger invalid-feedback">Stat must be between 1
                        and 99</p>
                </div>
                <div class="col">
                    <label for="shooting">Shooting</label>
                    <input th:field="*{shooting}" th:errorclass="is-invalid" th:placeholder="${stat.shooting}" name="shooting" id="shooting" type="number"
                           class="form-control">
                    <p id="shootingError" class="errors alert alert-danger invalid-feedback">Stat must be between 1
                        and 99</p>
                </div>
                <div class="col">
                    <label for="position">Position</label>
                    <select th:errorclass="is-invalid" name="position" id="position" class="custom-select">
                        <option value="" selected>Select position</option>
                        <option th:each="position : ${T(com.example.FootballLeagues.model.entity.enums.PositionEnum).values()}"
                                th:text="${position.name()}"
                                th:value="${position.name()}"
                                th:selected="${position.name()} == *{position}">
                        </option>
                    </select>
                    <p id="positionError" class="errors alert alert-danger invalid-feedback">You must select
                        position</p>
                </div>
                <div class="col">
                    <label for="foot">Better foot</label>
                    <select th:errorclass="is-invalid" name="foot" id="foot" class="custom-select">
                        <option value="" selected>Select foot</option>
                        <option th:each="foot : ${T(com.example.FootballLeagues.model.entity.enums.FootEnum).values()}"
                                th:text="${foot.name()}"
                                th:value="${foot.name()}"
                                th:selected="${foot.name()} == *{foot}">
                        </option>
                    </select>
                    <p id="footError" class="errors alert alert-danger invalid-feedback">You must select
                        foot</p>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-primary btn-block w-50" type="submit">Edit Player</button>
            </div>
        </form>
    </div>
</main>
<footer th:replace="templates/fragments::footer">
</footer>
</body>
</html>