<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/fragments::head">
</head>
<body>
<header th:replace="templates/fragments::nav">
</header>
<main class="p-5 bg-blur text-center my-main">
    <div class="text-center bg-blur">
        <div class="container text-light text-center">
            <h3 class="display-4"><strong class="text-white font-weight-bold">Ranking</strong></h3>
        </div>
        <div class="row mt-3 mb-3 text-white rounded">
            <div class="col-7 rounded m-auto pb-3">
                <table class="table-responsive table-hover table-dark">
                    <tr>
                        <th class="p-3 font-weight-bold">Position</th>
                        <th class="p-3 font-weight-bold">Logo</th>
                        <th class="p-3 font-weight-bold">Team</th>
                        <th class="p-3 font-weight-bold">Matches</th>
                        <th class="p-3 font-weight-bold">Wins</th>
                        <th class="p-3 font-weight-bold">Draws</th>
                        <th class="p-3 font-weight-bold">Loses</th>
                        <th class="p-3 font-weight-bold">Points</th>
                    </tr>
                    <tr th:each="team : ${teams}" th:object="${team}">
                        <td class="p-2" th:text="${teamStat.index + 1}"></td>
                        <td><img class="mr-2" th:src="|/images/*{logo}.jpg|" alt="LogoTeam1"
                                 width="50px" height="50px"></td>
                        <td class="p-2" th:text="*{name}"></td>
                        <td class="p-2" th:text="*{matches}"></td>
                        <td class="p-2" th:text="*{wins}"></td>
                        <td class="p-2" th:text="*{draws}"></td>
                        <td class="p-2" th:text="*{loses}"></td>
                        <td class="p-2" th:text="*{points}"></td>
                        <td class="p-2"><a class="ml-3 p-3 text-warning" th:href="|/team/details/*{id}|">Details</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    </div>
</main>
<footer th:replace="templates/fragments::footer">
</footer>
</body>
</html>